<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
  <script src="/javascripts/register.js"></script>
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <a href="/"><img class="navbar-brand iconWeb" src="./images/iconoweb.png" alt="iconWeb"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navBarMenu" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/#destinations">Destinos</a>
        <a class="nav-item nav-link" href="/#aboutUs">Quién somos</a>
        <a class="nav-item nav-link" href="/#location">Donde estamos</a>
        <a class="nav-item nav-link register" href="/register">Crear una cuenta</a>
      </div>
    </div>

    <div class="socialLinks navbar-nav">
      <a class="nav-item nav-link"
        href="https://twitter.com/geekshubs?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"> <img
          src="./images/twt-icon.png" alt="Twitter" class="socialIcon"></a>
      <a class="nav-item nav-link" href="#"> <img src="./images/wh-icon.png" alt="Whatsapp" class="socialIcon"></a>
      <a class="nav-item nav-link" href="https://es-es.facebook.com/geekshubs/"> <img src="./images/fb-icon.png"
          alt="Facebook" class="socialIcon"></a>
      <a class="nav-item nav-link" href="#"> <img src="./images/ins-icon.png" alt="Instagram" class="socialIcon"></a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/company/geeks-hubs/?originalSubdomain=es"> <img
          src="./images/in-icon.png" alt="Linkedin" class="socialIcon"></a>
      <a class="nav-item nav-link" href="https://www.youtube.com/user/geekshubs"> <img src="./images/yt-icon.png"
          alt="Youtube" class="socialIcon"></a>
    </div>
  </nav>

  {{{body}}}

  <footer>
    <div class="footerContent">
      <div class="footerHelp">
        <p>¿NECESITAS AYUDA?</p>
        <p>0264 123 4567</p>
        <p>enquiry@geekshubstravels.com</p>
        <p>Lun-Vie. 9:30-19:00 Sab: 10:00-14.00</p>
      </div>
      <div class="footerInfo">
        <p>INFORMACIÓN</p>

        <ul>
          <li><a href="#">Quienes somos</a></li>
          <li><a href="#">Preguntas frecuentes</a></li>
          <li><a href="#">Politica de privacidad</a></li>
          <li><a href="#">Condiciones generales</a></li>
          <li><a href="#">Aviso legal</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Programa de puntos</a></li>
        </ul>
      </div>
      <div class="footerNewsletter">
        <p>SUSCRIBETE A LA NEWSLETTER</p>
        <input type="text" placeholder="Correo electrónico">
        <button>SUSCRIBETE</button>

      </div>

      <div class="footerSocialLinks">
        <a href="https://twitter.com/geekshubs?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"> <img
            src="./images/twt-icon.png" alt="Twitter" class="socialIcon"></a>
        <a href="#"> <img src="./images/wh-icon.png" alt="Whatsapp" class="socialIcon"></a>
        <a href="https://es-es.facebook.com/geekshubs/"> <img src="./images/fb-icon.png" alt="Facebook"
            class="socialIcon"></a>
        <a href="#"> <img src="./images/ins-icon.png" alt="Instagram" class="socialIcon"></a>
        <a href="https://www.linkedin.com/company/geeks-hubs/?originalSubdomain=es"> <img src="./images/in-icon.png"
            alt="Linkedin" class="socialIcon"></a>
        <a href="https://www.youtube.com/user/geekshubs"> <img src="./images/yt-icon.png" alt="Youtube"
            class="socialIcon"></a>
      </div>
    </div>

    <div class="footerSeparator"></div>

    <div class="footerCopyright">
      <p>GeeksHubs Travels 2018 Todos los derechos reservados</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>