<section class="passwordRecoverySection">
    <form class="passwordRecoveryForm" action="/users/passwordChanged/" method="POST">
        <input type="password" name="newPassword" id="newPassword" placeholder="Nueva contrase単a" required="true" minlength="8">
        <input type="password" name="newPasswordConfirm" id="newPasswordConfirm" placeholder="Confirmar contrase単a" required="true" minlength="8">
        <p id="recoveryWarning">Las contrase単as introducidas no coinciden.</p>
        
        <p class="recoveryErr">{{recoveryErr}}</p>

        <button id="passwordSubmitRecovery" type="submit">Confirmar contrase単a</button>
    </form>
</section>