<section class="userControlPanel">
    <div>
        <p>Usuario: <span>{{username}}</span></p>
        <p>Email: <span>{{email}}</span></p>
        <p>Fecha de creación: <span>{{creationDate}}</span></p>
    </div>
</section>